@import '../../../styles/main.scss';

.full-card {
    width: 325px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1.2rem 0;
    padding: 0.5rem;

    .card-background-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1; // para que quede detrás del contenido
    }

    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 1rem;
        padding: 0.6rem;

        h3 {
          border-radius: 10px;
          background-color: rgba($primary-light-color, 0.8);
          padding: 0.5rem;
        }

        .meta {
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            background-color: rgba($primary-light-color, 0.8);
            padding: 0.5rem;
            font-size: 1.1rem;
        }

        .tags {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 0.5rem; 
            margin-bottom: 2rem;
            .tag {
                padding: 0.3rem 0.6rem;
                border-radius: 16px;
                font-size: 0.8rem;
            }

            .category-tag {
                background-color: #030819;
                color: $basic-light;
            }
    
            .rating-tag {
                background-color: $call-to-action-color;
            }
        }
    
        .card-link {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          color: $basic-light;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.6);
          padding: 0.5rem;
          border-radius: 4px;
        }
    }
  }
  
