@import '../../../../styles/main.scss';

.new-itinerary-container {
    padding: 2rem;
    width: 100%;
  
    .steps {
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;
  
      button {
        background: none;
        border: 1px solid $basic-grey;
        padding: 0.5rem 1rem;
        cursor: pointer;
  
        &.activo {
          background-color: $secondary-color;
          color: $basic-light;
        }
      }
    }
  
    .steps-container {
      border-top: 1px solid $basic-grey;
      padding-top: 1rem;
    }
  }
  