<div class="main-container">
    <h1>¿Qué te apetece hoy?</h1>
    <section class="cards-container">
        <app-simple-card *ngFor="let card of simpleCards" [card]="card"></app-simple-card>
    </section>
    <section class="extras-container">
        <h2>IMPRESCINDIBLES</h2>
        <ul class="nav-links">
            <li>
              <a mat-button [routerLink]="['/blog/vuelos']" class="nav-item">
                <mat-icon>flight</mat-icon>
                <span>Vuelos</span>
              </a>
            </li>
            <li class="call-to-action">
              <a mat-button [routerLink]="['/blog/alojamientos']" class="nav-item">
                <mat-icon>hotel</mat-icon>
                <span>Alojamientos</span>
              </a>
            </li>
            <li>
              <a mat-button [routerLink]="['/blog/coches']" class="nav-item">
                <mat-icon>directions_car</mat-icon>
                <span>Alquiler de coche</span>
              </a>
            </li>
            <li>
              <a mat-button [routerLink]="['/blog/seguro-medico']"  class="nav-item">
                <mat-icon>health_and_safety</mat-icon> 
                <span>Seguro médico</span>
              </a>
            </li>
            <li>
              <a mat-button [routerLink]="['/blog/moneda']" class="nav-item">
                <mat-icon>euro</mat-icon> 
                <span>Cambio de moneda</span>
              </a>
            </li>
          </ul>
    </section>
    <section>
      <h2 class="top-itineraries">TOP ITINERARIOS</h2>
      <div class="carousel-wrapper">
        <button class="nav-button left" (click)="scrollCarousel('left')">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>

        <div class="carousel-container" #carousel>
          <div class="itinerary-card" *ngFor="let itinerary of topItineraries">
            <img [src]="getImageUrl(itinerary)" alt="{{ itinerary.destination }}" />
            <a [routerLink]="['/itinerarios/itinerario/', itinerary.itineraryId]">{{ itinerary.destination }}</a>
          </div>
        </div>

        <button class="nav-button right" (click)="scrollCarousel('right')">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </section>
</div>

