<div class="main-container">
    <h1>¿Qué te apetece hoy?</h1>
    <div class="cards-container">
        <app-simple-card *ngFor="let card of simpleCards" [card]="card"></app-simple-card>
    </div>
    <section class="extras-container">
        <h2>IMPRESCINDIBLES</h2>
        <ul class="nav-links">
            <li>
              <a mat-button [routerLink]="['/blog/vuelos']" class="nav-item">
                <mat-icon>flight</mat-icon>
                <span>Vuelos</span>
              </a>
            </li>
            <li class="call-to-action">
              <a mat-button [routerLink]="['/blog/alojamientos']" class="nav-item">
                <mat-icon>hotel</mat-icon>
                <span>Alojamientos</span>
              </a>
            </li>
            <li>
              <a mat-button [routerLink]="['/blog/coches']" class="nav-item">
                <mat-icon>directions_car</mat-icon>
                <span>Alquiler de coche</span>
              </a>
            </li>
            <li>
              <a mat-button [routerLink]="['/blog/seguro-medico']"  class="nav-item">
                <mat-icon>health_and_safety</mat-icon> 
                <span>Seguro médico</span>
              </a>
            </li>
            <li>
              <a mat-button [routerLink]="['/blog/moneda']" class="nav-item">
                <mat-icon>euro</mat-icon> 
                <span>Cambio de moneda</span>
              </a>
            </li>
          </ul>
    </section>
</div>

