<header class="header-container">
    <!-- Header para escritorio -->
    <div class="header-desktop">
        <div class="top-bar">
            <div> 
                <a [routerLink]="['/']" class="logo">Destinarium</a>
            </div>
            <!-- <div class="search-bar">
                <input type="text" class="form-control" placeholder="Buscar..." />
            </div> -->
            <div class="search-container">
                <input 
                    [(ngModel)]="searchTerm" 
                    type="text" 
                    placeholder="Buscar por destino" 
                    (keydown.enter)="search()" />
                <button (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <div class="header-icons">
                <button mat-icon-button aria-label="Soporte" (click)="goTo('faqs')"><mat-icon>support_agent</mat-icon></button>
                <button mat-icon-button aria-label="Usuario" (click)="goToUserSection()"><mat-icon>person</mat-icon></button>
                <button mat-icon-button aria-label="Contacto" (click)="goTo('contacto')"><mat-icon>mail</mat-icon></button>
            </div>
        </div>
        <div class="nav-var">
            <app-nav></app-nav>
        </div>
    </div>

    <!-- Header para móvil -->
    <div class="header-mobile">
        <div>
            <a [routerLink]="['/']" class="logo">Destinarium</a>
        </div>
        <div class="mobile-icons">
            <button mat-icon-button aria-label="Buscar"><mat-icon>search</mat-icon></button>
            <button mat-icon-button aria-label="Usuario" (click)="goToUserSection()"><mat-icon>person</mat-icon></button>
            <button mat-icon-button (click)="toggleMenu()" aria-label="Menú">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <!-- Menú hamburguesa desplegable -->
        <div class="mobile-menu" *ngIf="menuOpen">
            <div class="close-menu" (click)="closeMenu()">
                <mat-icon>close</mat-icon>
            </div>
            <app-nav (linkClicked)="closeMenu()"></app-nav>
        </div>
    </div>
</header>
  
