@import '../../../../styles/main.scss';

.user-header {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid $basic-grey;

    .large-icon {
        font-size: 48px; 
        width: 54px;
        height: 48px;
        line-height: 48px;
    }

    .user-title {
        font-size: 1.5rem;
    }
}

.counter {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid $basic-grey;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    .btn-filtro,
    .btn-ordenar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        border: 1px solid black;
        border-radius: 0px;
        width: 110px;
        padding: 0.75rem;
        text-align: center;
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 3rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem 0;

    mat-icon {
        width: 5rem;
        height: 5rem;
        font-size: 5rem;
    }

    p {
        font-size: 1.3rem;
    }
}