@import '../../../../styles/main.scss';

.user-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid $basic-grey;
}

.counter {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid $basic-grey;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    .btn-filtro,
    .btn-ordenar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        border: 1px solid black;
        border-radius: 0px;
        width: 110px;
        padding: 0.75rem;
        text-align: center;
    }
}

.empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem 0;

    mat-icon {
        width: 5rem;
        height: 5rem;
        font-size: 5rem;
    }

    p {
        font-size: 1.3rem;
    }
}


@include media-breakpoint-up(sm-desktop) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        width: 100%;
    }
}

@include media-breakpoint-up(lg-desktop) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        width: 100%;
    }
}

@include media-breakpoint-up(xl-desktop) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        width: 100%;
    }
}