<mat-list class="user-header">
    <mat-icon matListIcon class="large-icon">account_circle</mat-icon>
    <mat-list-item>
        <span class="user-title">{{ userData.name }}</span>
    </mat-list-item>
</mat-list>
<mat-list class="counter">
    <mat-list-item>{{ userData.followed }} Siguiendo</mat-list-item>
    <mat-list-item>{{ userData.followers }} Seguidores</mat-list-item>
    <mat-list-item>{{ itineraryCount }} Itinerarios</mat-list-item>
</mat-list>
<div class="main-container">
    <div>
      <h2>Tus itinerarios</h2>
      <div class="action-buttons">
        <button class="btn-filtro" (click)="openFilterDialog()">
            <mat-icon>tune</mat-icon>
            Filtrar
        </button>
        <button class="btn-ordenar" (click)="openSortDialog()">
            <mat-icon>sort</mat-icon>
            Ordenar
        </button>
      </div>
    </div>
    <div *ngIf="itineraries.length > 0; else noItineraries" class="cards-container">
      <app-full-card
        *ngFor="let itinerary of filteredItineraries"
        [card]="getCardData(itinerary)"
        (edit)="onEditItinerary(itinerary.itineraryId)"
        (delete)="onDeleteItinerary(itinerary.itineraryId)">
      ></app-full-card>
    </div>
    
    <ng-template #noItineraries>
      <div class="empty-state">
        <mat-icon class="empty-icon">travel_explore</mat-icon>
        <p>Todavía no has subido ningún itinerario. Introducelo para compartir tus aventuras con la comunidad.</p>
      </div>
    </ng-template>
    <button mat-button class="call-to-action btn-large" [routerLink]="['/itinerarios/crear-itinerario']">
      <mat-icon class="icon-left">add_circle_outline</mat-icon>
      Subir itinerario
    </button>
</div>