// Colores

$primary-light-color: #FFF9EB;
$primary-dark-color: #106A8A;
$secondary-color: #16A8C1;
$call-to-action-color: #F2C01C;
$basic-dark: #000;
$basic-grey: #B1B4B5;
$basic-light: #fff;

// Tipografía

// Tipografía
$font-family-primary: 'Jura', sans-serif;

// Títulos
$h1-font-size: 2rem;
$h1-font-weight: bold;

$h2-font-size: 1.5rem;

$h3-font-size: 1.25rem;

// Párrafos y botones
$p-font-size: 1rem;
$btn-font-size: 1rem;
$font-weight-regular: 400; // Regular
$font-weight-bold: 700;   // Negrita

// Estilos de enlaces
$link-font-size: 1rem;

  