@import './variables';
@import './mixins';

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family-primary;
    font-size: $p-font-size;
    font-weight: $font-weight-regular;
}

h1 {
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}
  
// Párrafos
p {
    font-size: $p-font-size;
    font-weight: $font-weight-regular;
}

// Botones

button {
    font-size: $btn-font-size;
    border: none;
    border-radius: 10px;
    padding: 0.7rem 0;
    cursor: pointer;

    &.primary {
        background-color: $primary-dark-color;
        color: $basic-light;
    }

    &.secondary {
        border: 1px solid $secondary-color;
        background-color: $basic-light;
        color: $secondary-color;
    }

    &.call-to-action {
        background-color: $call-to-action-color;
        color: $basic-dark;
    }
}

.btn-large {
    position: relative;
    justify-content: center; 
    text-align: center;
    width: 300px;

    .icon-right {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .icon-left {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.btn-small {
    width: 150px;
}

// Enlaces
a {
    font-size: $link-font-size;
    text-decoration: none;
  
    &:hover,
    &:active {
      font-weight: bold;
      text-decoration: underline;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 80vw;
}