@import './variables';
@import './mixins';

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    overflow-y: auto;
}

body {
    font-family: $font-family-primary;
    font-size: $p-font-size;
    font-weight: $font-weight-regular;
}

h1 {
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: $h2-font-size;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: $h3-font-size;
    margin-bottom: 1rem;
}
  
// Párrafos
p {
    font-size: $p-font-size;
    font-weight: $font-weight-regular;
}

.text-center {
    text-align: center;
}

// Botones

button {
    font-size: $btn-font-size;
    border: none;
    border-radius: 10px;
    padding: 0.7rem 0;
    cursor: pointer;

    &.primary {
        border: 1px solid $primary-dark-color;
        background-color: $primary-dark-color;
        color: $basic-light;
        
        &:hover {
            background-color: $basic-light;
            color: $primary-dark-color;
        }
    }

    &.secondary {
        border: 1px solid $secondary-color;
        background-color: $basic-light;
        color: $secondary-color;

        &:hover {
            background-color: $secondary-color;
            color: $basic-light;
        }
    }

    &.call-to-action {
        border: 1px solid $call-to-action-color;
        background-color: $call-to-action-color;
        color: $basic-dark;

        &:hover {
            background-color: $basic-light;
            color: $call-to-action-color;
            font-weight: 700;
        }
    }
}

.btn-large {
    position: relative;
    justify-content: center; 
    text-align: center;
    width: 300px;

    .icon-right {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .icon-left {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.btn-small {
    position: relative;
    justify-content: center; 
    text-align: center;
    width: 150px;

    .icon-right {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .icon-left {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.btn-rounded{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

// Enlaces
a {
    font-size: $link-font-size;
    text-decoration: none;
  
    &:hover,
    &:active {
      font-weight: bold;
      text-decoration: underline;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
    width: 80vw;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem 0;
}
  
.main-content {
    padding-top: 80px;
    flex: 1;

    @include media-breakpoint-up(sm-desktop) {
        padding-top: 140px;
    }
}

