<div class="main-container">
    <h2>Paso 2 - Añadir información por días</h2>
    <p>Días añadidos: {{ dayCount }}</p>
    <form [formGroup]="dayForm" (ngSubmit)="onSubmit()" >
        <div formArrayName="days" class="days-container">
            <div *ngFor="let day of days.controls; let i = index" [formGroupName]="i" class="day">
                <h3>Día: {{ i+1 }}</h3>
                <div class="form-item">
                    <label for="startLocation">Lugar de inicio *</label>
                    <input type="text" id="startLocation" formControlName="startLocation" placeholder="Lugar de inicio" />
                </div>
                <div class="form-item">
                    <label for="endLocation">Lugar de fin *</label>
                    <input type="text" id="endLocation" formControlName="endLocation" placeholder="Lugar de fin" />
                </div>

                <label>Descripción del día {{ i + 1 }}</label>
                <quill-editor
                    [modules]="getQuillModules(i)"
             
                    formControlName="description"
                    class="form-item">
                </quill-editor>
                <div class="action-buttons">
                    <button type="button" class="call-to-action btn-large" (click)="addNewDay()">GUARDAR Y AÑADIR OTRO DÍA</button>
                    <button type="button" (click)="removeDay(i)" class="secondary btn-large">ELIMINAR ESTE DÍA</button>
                </div>
            </div>
        </div>

        <button type="submit" class="primary btn-large">GUARDAR Y CONTINUAR</button>
        <div style="margin-left: auto; margin-right: auto">
            <p id="step2Feedback"></p>
        </div>
    </form>
</div>
