@import '../../../../styles/main.scss';

form {
  display: flex;
  flex-direction: column;

  a.form-link {
    text-decoration: underline;
    font-size: 0.9rem;
    text-align: end;
    margin: 2rem 0;
    color: $primary-dark-color;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
    width: 100%;

    input {
      background-color: $primary-light-color;
      padding: 0.7rem;
      border-radius: 8px;
      border: none;
      border-bottom: 1px solid $call-to-action-color;
      margin-top: 0.5rem
    }
  }

  button {
    margin-top: 2rem;
  }
}

