<div class="main-container">
    <h1>{{ itinerary.title }}</h1>
    <div class="grid-columns">
        <div>
            <figure>
                <img src="{{ coverImage }}" alt="Imágen portada itinerario" class="img"/>
                <figcaption>
                    <p>Publicado el {{ itinerary.publicationDate | date: 'dd/MM/yyyy' }} por {{ itinerary.userAlias }}</p>
                </figcaption>
            </figure>
            <div class="container-tags">
                <p *ngFor="let category of itinerary.categories" class="tag">
                    {{ category.title }}
                </p>
            </div>
        </div>
        <div>
            <div class="container-dates">
                <mat-icon>calendar_today</mat-icon>
                <p>Fechas itinerario:</p> 
                <p>{{ itinerary.startDate | date: 'dd/MM/yyyy' }} - {{ itinerary.endDate | date: 'dd/MM/yyyy' }}</p>
            </div>
            <mat-accordion #accordion *ngFor="let day of visibleDays; let i = index" class="custom-accordion">
                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="custom-panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title> DÍA {{ i + 1 }}:  {{ day.startLocation }} - {{ day.endLocation }} </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p [innerHTML]="day.description"></p>
                </mat-expansion-panel>
            </mat-accordion>
            <div *ngIf="itinerary && itinerary.days && itinerary.days.length > visibleDaysCount" class="container-button">
                <button class="link" (click)="showMoreDays()">Ver más días</button>
            </div>
        </div>
    </div>
</div>
