<div class="main-container">
  <h2>Paso 1 - Datos básicos</h2>
  <form *ngIf="formStep1" [formGroup]="formStep1" (ngSubmit)="saveItinerary()">
    <P class="alert">*Los campos marcados con asterísco son obligatorios</P>
    <div class="form-item">
      <label for="destination">Destino</label>
      <input type="text" [formControl]="destination" />

      <div *ngIf="destination.errors">
        <div
          *ngIf="destination.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="destination.errors['required']">Campo requerido</div>

          <div *ngIf="destination.errors['minLenght']">
            Al menos debe contener tres caracteres
          </div>
        </div>
      </div>
    </div>

    <div class="form-item">
      <label for="startDate">Fecha inicio</label>
      <input type="date" [formControl]="startDate" />
      <div
        *ngIf="startDate.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="startDate.errors['required']">
          Campo requerido
        </div>
      </div>
    </div>

    <div class="form-item">
      <label for="endDate">Fecha fin</label>
      <input type="date" [formControl]="endDate" />
      <div
        *ngIf="endDate.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="endDate.errors['required']">
          Campo requerido
        </div>
      </div>
    </div>

    <div class="form-item">
      <label for="rating">Calificación itinerario</label>
      <input type="number" [formControl]="rating" />
    </div>

    <div class="form-item">
      <label for="budget">Presupuesto por persona (€)</label>
      <input type="text" [formControl]="budget" />
    </div>

    <div class="form-item">
      <label for="categories">Selecciona el tipo de viaje</label>
      <select multiple [formControl]="categories">
        <option
          *ngFor="let category of categoriesList"
          [ngValue]="category.categoryId"
        >
          {{ category.title }}
        </option>
      </select>
    </div>

    <div class="form-item">
      <label for="coverImage">Subir imagen de portada</label>
      <input type="file" (change)="onFileChange($event)"/>
    </div>

    <button type="submit" class="primary btn-large">GUARDAR Y CONTINUAR</button>
  </form>
  <div style="margin-left: auto; margin-right: auto">
    <p id="step1Feedback"></p>
  </div>
</div>
