<div class="full-card" [ngStyle]="{ 'background-image': 'url(' + card.imageUrl + ')' }">
  <div class="card-content">
    <div class="card-actions" *ngIf="showEditDeleteButtons">
      <button mat-icon-button (click)="onEdit()">
        <mat-icon class="edit-btn">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onDelete()">
        <mat-icon class="delete-btn">delete</mat-icon>
      </button>
    </div>
    <h3>{{ card.title }}</h3>
    <p class="meta">
      <span>Publicado el {{ card.date | date:'dd/MM/yyyy' }}</span> 
      <span> Usuario: {{ card.author }}</span>
    </p>
    <div class="tags">
      <p class="category-tag tag" *ngFor="let category of card.categories">{{ category }}</p>
      <p class="rating-tag tag">{{ card.rating }} ★</p>
    </div>
    <a class="card-link" [routerLink]="card.link">Ver detalles</a>
  </div>
</div>