<div class="full-card" [ngStyle]="{ 'background-image': 'url(' + card.imageUrl + ')' }">
  <div class="card-content">
    <h3>{{ card.title }}</h3>
    <p class="meta">
      <span>Publicado {{ card.date }}</span> | <span>{{ card.author }}</span>
    </p>
    <div class="tags">
      <p class="category-tag tag" *ngFor="let category of card.categories">{{ category }}</p>
      <p class="rating-tag tag">{{ card.rating }} ★</p>
    </div>
    <a class="card-link" [routerLink]="card.link">Ver detalles</a>
  </div>
</div>