.full-card {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1.2rem;
    padding: 0.5rem;

    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 1rem;

        .card-actions {
            display: flex;
            justify-content: space-between;

            button {
                background-color: rgba(23, 115, 219, 0.438);
                border-radius: 50%;
                padding: 10px;
                margin-left: 10px;

                .edit-btn, .delete-btn {
                    color: white;
                    font-size: 24px;
                }
                  
                .edit-btn:hover, .delete-btn:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        } 

        .tags {
            display: flex;
            justify-content: space-between;
            .tag {
                padding: 0.3rem 0.6rem;
                border-radius: 16px;
                font-size: 0.8rem;
            }

            .category-tag {
                background-color: #030819;
                color: white;
            }
    
            .rating-tag {
                background-color: rgb(245, 191, 14);
            }
        }
    
        .card-link {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          color: white;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.6);
          padding: 0.5rem;
          border-radius: 4px;
        }
    }
  }
  