<div class="main-container text-center">
    <h1>ITINERARIOS</h1>
    <div class="search-container">
        <input 
            [(ngModel)]="searchTerm" 
            type="text" 
            placeholder="Buscar por destino" 
            (keydown.enter)="search()" />
        <button (click)="search()">
          <mat-icon>search</mat-icon>
        </button>
    </div>
    <section class="map-section">
        <h2>¿A dónde vas?</h2>
        <div #mapContainer class="map-container"></div>
    </section>

    <section>
        <h3>Todavía no tengo claro el destino</h3>
        <button class="primary btn-large" (click)="search()">Ver itinerarios</button>
    </section>
</div>